#rectangle {
    width: 200px;
    height: 200px;
    background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
    background-position: 0 19 50 81 100;
    border-radius: 30px;
    border: 10px solid white;
    animation: background 3s infinite alternate;
  }
  @keyframes background {
    100% { background-position: 0 19 50 81 100; }
  }