body {
    font-family: sans-serif;
  }

  .gallery-item {
    display: inline-block;
    padding: 5px;
  }
  
  .image {
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
    object-fit: contain;
  }