body { background: url(group.jpg) ; background-size: cover; }
.menu { color: rgb(111, 62, 247)}
.txt { color: rgb(187, 25, 56); font-size: 150%; }
.txt1 { color: rgb(50, 201, 39); font-size: 150%; }
.txt2 { color: rgb(124, 74, 241); font-size: 150%; }   
.txt3 { color: rgb(3, 5, 180); font-size: 120%; }  
.footer-bg { margin-top: 50%; }
.img { width: 50px ; height: 50px ;}
nav { display: block;  width: 660px;  margin: 0 auto 30px; }
.one a {  padding: 1em; background: rgba(177, 152, 145, .3); border-right: 1px solid #b19891;  color: #695753; }